<footer class="footer">
  <nav>
    <ul>
      <li class="footer-menu-items">
        <a class="footer-menu-links" href="#">Legal</a>
      </li>
      <li class="footer-menu-items">
        <a class="footer-menu-links" href="#">Cookies</a>
      </li>
      <li class="footer-menu-items">
        <a class="footer-menu-links" href="#"
          >Información sobre los anuncios</a
        >
      </li>
    </ul>
  </nav>
  <div class="copy">
    <span class="copy-spain"
      >España
      <img
        class="copy-spain-flag"
        src="./assets/images/es.svg"
        alt="Salta todas las canciones que quieras"
    /></span>
    <span class="copy-year">&copy; 2020 Spotify AB</span>
  </div>
</footer>